<div class="row clearfix">
  <% if task.completed? %>
    <div class="task">
      <p style = "opacity: 0.4;"><strike><%= task.content %></strike></p>  
    </div>
    <div class="trash">  
      <%= link_to "Destroy Task", project_task_path(@project, task.id), method: :delete %>
    </div>  
  <% else %>
    <div class="todo_item">
      <p><%= task.content %></p>  
    </div>
    <div class="complete">
      <%= link_to "Mark as complete", complete_project_task_path(@project, task.id), method: :get %>
    </div>
    <div class="trash">  
      <%= link_to "Destroy Task", project_task_path(@project, task.id), method: :delete %>
    </div>  
  <% end %>
</div>
